
        <p>
        	<% if logged_in? %>
        	<strong>Welcome <%= session[:username] %>
          		<%= link_to "Log Out", logout_path, :id => 'logOut' %>
      		</strong>
      		<% else %>
<%= form_tag session_path, :id => 'login_form'  do %>
    <%= label_tag :username %>
    <%= text_field_tag :username, 'username', :onfocus => 'myFocus(this);', :onblur => 'myBlur(this)' %>
    <%= label_tag :password %>
    <%= password_field_tag :password, '*****', :onfocus => 'myFocus(this);', :onblur => 'myBlur(this)' %>
    <%=  submit_tag 'login', :id => 'login_submit' %>
<% end %>
 <p>Not registered? <strong> <%= link_to "Register", :controller => 'customers', :action => 'new', :class => 'register' %></strong><span class="go_arrow"> &gt; </span></p>

      		<% end %>
 		</p>