<header class="featured"><h1 class="catalog">Featured Products <%= yield %></h1></header>
<% @offers.each do |feature| %>
    <% if feature.featured_product %>
        <article class="threeAcross">
      <%= image_tag(feature.image_url, :width => "298", :height => "139", :alt => " ")%>
  <div class="a_content"> <p>In: <span class="cat_title">Accessories</span></p>
    <header><h2 class="item_title"><%= feature.name %></h2></header>
    <p class="item_desc"> | <%= feature.description[0,26] %>. - <strong><%= number_to_currency(feature.unit_price, :unit => '&euro;') %></strong></p>
    <p class="learn_more"><%= link_to 'More', feature %><span class="go_arrow"> &gt; </span></p>

      <%= button_to 'Add to Cart', line_items_path(product_id: feature, quantity: 1), :class => "updateCart" %>

  </div><!--a_content-->
</article><!--End threeAcross -->
<% end %>
    <% end %>


<div class="clearLeft"></div>
<a href="#" title="More Offers" class="moreOffers">More Offers</a>