 <header class="special">
    <h1 class="catalog">Special Offer5</h1></header>
 <% @specials.each do |special| %>
  <article class="fourAcross">
    <%= image_tag(special.image_url, :width => "218", :height => "138", :alt => " ")%>
    <div class="a_content">
      <header><h2><%= special.name %> | <span class="cat_title">Accessories</span></h2></header>
      <p><%= special.description[0,20] %> - <strong><%= number_to_currency(special.unit_price, :unit => '&euro;') %></strong></p>
      <p class="learn_more"><%= link_to 'More', special %><span class="go_arrow"> &gt; </span></p>
      <%= button_to 'Add to Cart', line_items_path(product_id: special, quantity: 1), :class => "updateCart" %>

    </div><!--a_content-->
  </article><!--End fourAcross 1-->
     <% end %>
  <div class="clearLeft"></div>
  <a href="#" title="More Offers" class="specialOffers">More Offers</a>