<h1 id="confirmOrder">Thank you for your order: <%= @order.username %> </h1>
<div id="confirmation">
<p>For future reference your <strong>invoice number is: <%= @order.id %></strong> </p>
<p><strong>Shipping Details are:</strong> </p>
<p>Name: <%= @order.first_name %> <%= @order.last_name %></p>
<p><strong>Deliver to:</strong></p>
<p><%= @order.address_1 %>, <%= @order.address_2 %>, <%= @order.address_3 %>, <%= @order._city %></p>
<p><%= @order.postcode %>, <%= @order.country %></p>

</div>
