 <ul>
        <li><%= link_to "Home", :controller => 'page', :action => 'home' %><span>Welcome to  Cardboard!</span></li>
        <li><%=link_to "About", :controller => 'page', :action => 'about' %><span>Who we are</span></li>
        <li><a href="#">Contact Us</a> <span class="contain">For everything
you want</span></li>
        <li><%= link_to "Register", :controller => 'customers', :action => 'new'  %> <span class="contain">Discover
the advantages</span></li>
        <li><%=  link_to "Help", :controller => 'page', :action => 'help' %> <span>Got Questions?</span></li>
        <li><%= link_to "Our Services", :controller => 'page', :action => 'services' %> <span class="contain">What we have
to offer</span></li>
 </ul>