<!DOCTYPE html>
<html>
<head>
  <title><%=  @page_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>

<body>
<div id="wrapper">
  <div id="header">
    <div class="centerContent">
      <section class="left" id="login">
        <h1>Login</h1>
        <%= render :partial => "sessions/form"  %>
        <p>Not a user? <strong> <%= link_to "Register", :controller => 'customers', :action => 'new', :class => 'register' %></strong><span class="go_arrow"> &gt; </span></p>
        <p><strong><a href="#">Forgot password ?</a></strong></p>
      </section><!--End #login-->
      <header class="left" id="pageHeading">
        <hgroup>
          <h1>Cardboard </h1>
          <h2>Online Shop </h2>
        </hgroup>
      </header>
      <section class="right" id="cart">
        <h1>Cart</h1>
        <ul>
          <li class="cart_prod">3 Products</li>
          <li class="cart_total">€334.89</li>
        </ul>
        <a href="shopping_cart.html" title="View Cart">View</a>
      </section><!--End #cart-->
    </div><!--End .centerContent-->
  </div><!--End #header-->
  <div class="centerContent bodyContent">
    <div class="clearBoth" id="subNav">
      <ul>
        <li><%= link_to "Home", :controller => 'page', :action => 'home' %><span>Welcome to  Cardboard!</span></li>
        <li><%=link_to "About", :controller => 'page', :action => 'about' %><span>Who we are</span></li>
        <li><a href="#">Contact Us</a> <span class="contain">For everything
you want</span></li>
        <li><%= link_to "Register", :controller => 'customers', :action => 'new'  %> <span class="contain">Discover
the advantages</span></li>
        <li><%=  link_to "Help", :controller => 'page', :action => 'help' %> <span>Got Questions?</span></li>
        <li><%= link_to "Our Services", :controller => 'page', :action => 'services' %> <span class="contain">What we have
to offer</span></li>
      </ul>
    </div><!--End #subNav-->
    <div class="clearLeft" id="navBar">
      <nav>
        <h1>Main Navigation for Products</h1>
        <ul>
          <li><%= link_to "Home", :controller => 'page', :action => 'home' %></li>
          <li><a href="#">Accessories</a></li>
          <li><a href="#">Frees Time</a></li>
          <li><a href="product_category.html">Kitchen</a></li>
          <!--<ul>
              <li><a href="#">Mugs</a></li>
              <li><a href="#">Appliances</a></li>
              <li><a href="#">Pottery</a></li>
              <li><a href="#">Textiles</a></li>
              <li><a href="3">Decoration</a></li>
          </ul>-->
          <li><a href="#">Books</a></li>
          <li><a href="#">Electronics</a></li>
          <li><a href="#">T&ndash;Shirts</a></li>
          <li><a href="#">Furniture</a></li>
        </ul>
      </nav>
      <div class="right" id="search">
        <form action="#" method="get" name="search" id="search">
          <input name="search" type="text" id="search_input" placeholder="search">
          <input name="searchSite" type="submit" id="searchSite" value="go">
        </form>
      </div>
    </div><!--End #navBar-->



    <div id="content">
      <% if flash[:notice] %>
          <div id="notice"><%= flash[:notice] %></div>
      <% end %>
      <%=  yield %>                   <!--This is the area that is going to be truly Dynamic ___RUBY ON RAILS GENERATED CONTENT___ -->
    </div><!--End .content -->
  </div><!--End .centerContent-->
  <div class="clearLeft"></div>
</div><!--End #wrapper-->
<div class="centerContent clearLeft ">
  <section class="about">
    <div class="fourAcross">
      <header><h1>About Us</h1></header>

      <h2>Lorem ipsum dolor </h2>
      <p>Sit amet, consectetur adipiscing elit. Integer pellentesque, leo eget commodo iaculis, leo leo consectetur dui, quis pellentesque lectus neque eu orci.</p>

      <p>Vestibulum eleifend nisi diam. <a href="#" class="learn_more">Contact us</a> or Integer pellentesque, leo eget. Phasellus et est vitae .</p>
    </div><!--End FourAcross 1-->
    <div class="fourAcross fontPlace">
      <h2>Shipping Info</h2>
      <p>Phasellus et est vitae lorem posuere congue sed nec quam. <a href="#" class="learn_more">More</a></p>

      <h2>Delivery</h2>
      <p>Aliquam vel tortor a augue fringilla fringilla sit amet ac nunc. Phasellus et est vitae. Sit amet, consectetur adipiscing elit. Integer pellentesque.  <a href="#" class="learn_more">More</a></p>
    </div><!--end FourAcross 2 -->
    <div class="fourAcross fontPlace">
      <h2>Newsletter</h2>
      <p>Sign up to our newsletter!</p>
      <form name="newsLetter" method="post" action="" id="newsLetter">
        <input type="text" name="name" id="news_name">
        <input type="email" name="email" id="news_email">
        <input type="submit" name="submit" id="news_submit" value="Submit">
      </form>
      <div class="followUs">
        <p>Follow Us:</p>
        <a href="#" title=" "> <%= image_tag "rss.jpg", :width => "17", :height => "19", :alt =>" " %></a>
        <a href="#" title=" "><%= image_tag "sv.jpg", :width => "18", :height => "19", :alt =>" " %></a>
        <a href="#" title=" "><%= image_tag "2.jpg", :width => "18", :height => "19", :alt =>" " %></a>
        <a href="#" title=" "><%= image_tag "ic.jpg", :width => "16", :height => "18", :alt =>" " %></a>
        <a href="#" title=" "><%= image_tag "facebook.jpg", :width => "17", :height => "19", :alt =>" " %></a>
        <a href="#" title=" "><%= image_tag "twitter.jpg", :width => "21", :height => "19", :alt =>" " %></a>
      </div><!--end followUs-->
    </div><!--end FourAcross 3 -->
    <div class="fourAcross fontPlace end">
      <h2>Payment Options</h2>
      <div><!--card wrap-around-->
        <a href="#" title="Pay by Visa"><%= image_tag "visa.jpg", :width => "49", :height => "32", :alt =>" Pay by Visa" %></a>
        <a href="#" title="Pay by Visa Electron"><%= image_tag "visa_electrom.jpg", :width => "50", :height => "32", :alt =>" Pay by Visa Electron" %></a>
        <a href="#" title="Pay by American Express"><%= image_tag "american_express.jpg", :width => "49", :height => "32", :alt =>" Pay by American Express" %></a>
        <a href="#" title="Pay by Paypal"><%= image_tag "paypal.jpg", :width => "48", :height => "32", :alt =>" Pay by Paypal" %></a>
      </div><!--end credit card wrap-around-->
      <a href="mailto:lowrygerard@eircom.net" id="contact">Contact Us</a>
      <a href="#" title="Call US" id="call">Call Us 800-111-111</a>
    </div><!--end FourAcross 4 -->
  </section>
  <div class="clearLeft"></div>
</div><!--End .centerContent-->
<div id="footer">
  <footer>
    <div class="centerContent">

      <header><h2>Cardboard Online Shop Internal Links</h2></header>
      <div class="navContainer left">
        <ul>
          <li><a href="#">» Home</a></li>
          <li><a href="#">» Register</a></li>
          <li><a href="#">» Contact Us</a></li>
          <li><a href="#">» Help</a></li>
          <li><a href="#">» Our Services</a></li>
        </ul>

      </div><!--End .navContainer-->
      <div class="navContainer left">
        <ul>
          <li><a href="#">House</a></li>
          <li><a href="#">Accessories</a></li>
          <li><a href="#">Free Time</a></li>
          <li><a href="#">Sport</a></li>
          <li><a href="#">Books</a></li>
          <li><a href="#">Electronics</a></li>
        </ul>
      </div><!--End .navContainer-->
      <div class="navContainer left">
        <ul>
          <li><a href="#">T-shirts</a></li>
          <li><a href="#">Mugs</a></li>
          <li><a href="#">Shirts</a></li>
          <li><a href="#">&nbsp;</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Shipping and Payment</a></li>
        </ul>
      </div><!--End .navContainer-->
      <div class="navContainer left">
        <h3>Contact Info</h3>
        <address>111 Lorem Ipsu Ave - 01234 Seattle, WA<br />
          T. (111) 111-22333<br />
          F. (111) 111-22333 <br />
          info@cardboardshop.com</address>
      </div><!--End .navContainer-->
      <p class="clearLeft" id="copyRight">&copy; Cardboard Online Store 2011</p>

    </div><!--End .centerContent-->
  </footer>
</div>

</body>
</html>
